.container {
    display: grid;
    width: 90vw;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr auto 1fr;
    grid-template-areas:
        "hd"
        "nav"
        "main"
        "ft";
    border: 2px solid yellow;
}

header {
    grid-area: hd;
    width: 100%;
    border: 2px solid red;
}

nav {
    grid-area: nav;
    border: 2px solid red;
}

main {
    grid-area: main;
    border: 2px solid red;
}

footer {
    grid-area: ft;
    border: 2px solid red;
}

@media(min-width: 768px) {
    .container {
        display: grid;
        width: 90vw;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2fr auto 1fr;
        grid-template-areas:
            "hd  hd   hd   hd   hd   hd"
            "nav main main main main main"
            "ft  ft   ft   ft   ft   ft";
        border: 2px solid yellow;
    }
}

@media(min-width: 992px) {
    .container {
        display: grid;
        width: 90vw;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2fr auto 1fr;
        grid-template-areas:
            "hd  hd   hd   hd   hd   hd"
            "nav main main main main main"
            "ft  ft   ft   ft   ft   ft";
        border: 2px solid yellow;
    }
}

@media(min-width: 1200px) {
    .container {
        display: grid;
        width: 90vw;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 2fr auto 1fr;
        grid-template-areas:
            "hd  hd   hd   hd   hd   hd"
            "nav main main main main main"
            "ft  ft   ft   ft   ft   ft";
        border: 2px solid yellow;
    }
}