.nav-flex {
    display: flex;
    flex-direction: row;
}

.nav-button {
    margin: 10px 5px;
}

.subscribe {
    margin-left: auto;
}

@media(min-width: 768px) {
    .nav-flex {
        display: flex;
        flex-direction: column;
    }

    .subscribe {
        margin: 50px 5px;
    }
}