<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/stylesheets/main.css" />
        <title>Blog Homepage</title>
    </head>
    <body>
        <div class="nested-grid">
            <section class="card">
                <img id="card-img" src="../assets/images/patrick-brinksma--VTJEOcYT8o-unsplash.jpg">
                <h1>My First Blog Post</h1>
                <h2>How it all began...</h2>
                <h3>Sun 8 March 2020</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ...</p>
                <a href="blogpost.html"><button class="button button-card">Read More</button></a>
            </section>
            <section class="card">
                <img id="card-img" src="../assets/images/patrick-brinksma--VTJEOcYT8o-unsplash.jpg">
                <h1>My First Blog Post</h1>
                <h2>How it all began...</h2>
                <h3>Sun 8 March 2020</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ...</p>
                <a href="blogpost.html"><button class="button button-card">Read More</button></a>
            </section>
            <section class="card">
                <img id="card-img" src="../assets/images/patrick-brinksma--VTJEOcYT8o-unsplash.jpg">
                <h1>My First Blog Post</h1>
                <h2>How it all began...</h2>
                <h3>Sun 8 March 2020</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ...</p>
                <a href="blogpost.html"><button class="button button-card">Read More</button></a>
            </section>
            <section class="card">
                <img id="card-img" src="../assets/images/patrick-brinksma--VTJEOcYT8o-unsplash.jpg">
                <h1>My First Blog Post</h1>
                <h2>How it all began...</h2>
                <h3>Sun 8 March 2020</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ...</p>
                <a href="blogpost.html"><button class="button button-card">Read More</button></a>
            </section>
            <section class="card">
                <img id="card-img" src="../assets/images/patrick-brinksma--VTJEOcYT8o-unsplash.jpg">
                <h1>My First Blog Post</h1>
                <h2>How it all began...</h2>
                <h3>Sun 8 March 2020</h3>
                <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, ...</p>
                <a href="blogpost.html"><button class="button button-card">Read More</button></a>
            </section>
        </div>
    </body>
</html>