<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" >
        <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="../assets/stylesheets/main.css" />
        <title>Latest Blogpost</title>
    </head>
    <body>
        <div class="blogpost-grid">
            <div class="header">
                <h1>My First Blog Post</h1>
                <h2>How it all began...</h2>
                <h3>Sun 8 March 2020</h3>
            </div>
            <div class="card author">
                <div class="avatar">
                    <img src="../assets/images/patrick-brinksma--VTJEOcYT8o-unsplash.jpg" alt="Avatar"/>
                </div>
                <div class="info">
                    <h1>Dr. Max Power</h1>
                    <p>Prof. at LMU</p>
                    <p>Meterologist</p>
                    <p>* 14.03.1987</p>
                </div>
            </div>
             <div class="main">
                 <figure>
                    <img src="../assets/images/cameron-venti-8vLGr1SuRVA-unsplash.jpg">
                    <figcaption>A pretty image</figcaption>
                 </figure>
                <p>
                    Lorem ipsum dolor sit amet, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. 
                    <i>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</i> 
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, 
                    sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, <b>sed diam voluptua</b>. 
                </p>
                <p>
                    At vero eos et accusam et justo duo dolores et ea rebum. 
                    Stet clita kasd gubergren, no sea takimata sanctus est <u>Lorem ipsum</u> dolor sit amet.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. 
                    At vero eos et accusam et justo duo dolores et ea rebum. 
                    <i>Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</i> 
                </p>
                <p>
                    <q>At vero eos et accusam et justo duo dolores et ea rebum.</q>
                </p>
             </div>
            <div class="like">
                <a href=""><img src="../assets/icons/9685812131574055269-128.png"/></a>
            </div>
            <div class="share">
                <a href="https://twitter.com/explore" target="_blank"><img src="../assets/icons/9643208261579774626-128.png" /></a>
                <a href="https://www.facebook.com/" target="_blank"><img src="../assets/icons/14703431541579774613-128.png" /></a>
                <a href="https://www.linkedin.com/" target="_blank"><img src="../assets/icons/7450549001579774617-128.png" /></a>
            </div>
        </div>
    </body>
</html>
