.container {
    display: grid;
    width: 90vw;
    height: 90vh;
    margin: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 18% 60% 2%;
    grid-template-areas:
        "hd"
        "nav"
        "main"
        "ft";
}

header {
    grid-area: hd;
    width: 100%;
    text-align: center;
}

nav {
    grid-area: nav;
}

main {
    grid-area: main;
}

footer {
    grid-area: ft;
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

@media(min-width: 768px) {
    .container {
        display: grid;
        width: 90vw;
        height: 90vh;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 15% 83% 2%;
        grid-template-areas:
            "hd  hd   hd   hd   hd   hd"
            "nav main main main main main"
            "ft  ft   ft   ft   ft   ft";
    }
}

@media(min-width: 992px) {
    .container {
        display: grid;
        width: 90vw;
        height: 90vh;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 15% 83% 2%;
        grid-template-areas:
            "hd  hd   hd   hd   hd   hd"
            "nav main main main main main"
            "ft  ft   ft   ft   ft   ft";
    }
}

@media(min-width: 1200px) {
    .container {
        display: grid;
        width: 90vw;
        height: 90vh;
        margin: auto;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: 15% 83% 2%;
        grid-template-areas:
            "hd  hd   hd   hd   hd   hd"
            "nav main main main main main"
            "ft  ft   ft   ft   ft   ft";
    }
}